<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game_build</key>
	<string>8.551.2</string>
	<key>game_version</key>
	<string>8.551.2</string>
	<key>mod_id</key>
	<string>net.imodgame.coc2</string>
	<key>mod_version</key>
	<string>1.41.1</string>
</dict>
</plist>
